@model Library.Models.Books

@{
    ViewBag.Title = "書籍新增";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="c_text">@ViewBag.Title</h2>
@if (ViewBag.InsertMessage != null)
{
    <script>alert("@ViewBag.InsertMessage") </script>
    <div class="@ViewBag.AlertClass">@ViewBag.InsertMessage</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger c_text" })

        <div class="form-group">
            <div class="control-label col-md-2 c_text">
                <span class="text-danger ">*</span>
                @Html.LabelFor(model => model.BookName)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BookName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2 c_text">
                <span class="text-danger ">*</span>
                @Html.LabelFor(model => model.BookAuthor)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BookAuthor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookAuthor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2 c_text">
                <span class="text-danger ">*</span>
                @Html.LabelFor(model => model.BookPublisher)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BookPublisher, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookPublisher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2 c_text">
                <span class="text-danger ">*</span>
                @Html.LabelFor(model => model.BookNote)
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.BookNote, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookNote, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="control-label col-md-2 c_text">
                <span class="text-danger ">*</span>
                @Html.LabelFor(model => model.BookBougthDate)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BookBougthDate, new { @type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookBougthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2 c_text">
                <span class="text-danger ">*</span>
                @Html.LabelFor(model => model.BookClass)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BookClassId, (List<SelectListItem>)ViewBag.BookClass,
                                                     "--請選擇類別--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookClassId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10 c_text text-danger">
                @* 忘記清除空class *@
                <span class="">*</span>
                <span>為必填</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="存檔" class="btn btn-success c_text" />
                <span class="btn btn-primary" onclick="FormReset()">重填</span>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回查詢", "Index", new { }, new { @class = "c_text" })
</div>
<script>
    $(document).ready(function () {
        
        TextBoxClear();
    })

    function FormReset() {
        if (confirm("確定要重填表單嗎?"))
            TextBoxClear();
    }

    function TextBoxClear() {
        //可用$(form)[0].reset()
        $(form)[0].reset();
        //$('.form-control').val(null);
    }
</script>
